DW_USER=
DW_PASS=
DW_HOST=
DW_PORT=
DW_NAME=

DB2_USER=
DB2_PASS=
DB2_HOST=
DB2_PORT=
DB2_NAME=

GEMINI_API_KEY=
GEMINI_API_KEY_GRUPO_PROJETOS=

PASS_GABRIEL=
PASS_DIRLEI=
PASS_BIANCA=


AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_USER_EMAIL=

# --- CONFIGURAÇÕES DE LOGIN DOS PAINÉIS ---

# Admin Logs / Centro de Custo
ADMIN_USER=
ADMIN_PWD=

# Parceiro_Y
PARCEIRO_Y_PWD_QSMS=
PARCEIRO_Y_PWD_GABRIEL=

# Gestão de Projetos
GESTAO_PROJETOS_PWD=

# Controle de EPI
EPI_PWD_GABRIEL=
EPI_PWD_SIMONE=
EPI_PWD_QSMS=
EPI_PWD_LONDRINA=
EPI_PWD_SEARA=
EPI_PWD_PROJETO_ALFA=
EPI_PWD_IMBAU=
EPI_PWD_NOROESTE=

# Empresa_X x Projeto_Alfa
EMPRESA_X_PROJETO_ALFA_PWD=

# Atualização de Fornecedores
ATUALIZACAO_FORN_PWD=